{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpeg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I’m Talha Javed, a passionate Python developer and tech enthusiast. I love exploring the vast world of programming and sharing my knowledge with others. My journey into coding began with a curiosity about how software works, which quickly grew into a full-fledged passion for creating efficient and innovative solutions using Python.
        </p>
        <p>
          On this blog, I delve into various aspects of Python programming, from basic tutorials to advanced topics like decorators, concurrency, and hidden libraries. I aim to make complex topics accessible and interesting for everyone, whether you're a beginner or a seasoned developer looking to deepen your understanding of Python.
        </p>
        <p>
          When I’m not coding or writing, I enjoy experimenting with new technologies, contributing to open-source projects, and participating in coding challenges. Through this blog, I hope to inspire and help others on their programming journey, just as many have inspired and helped me.
        </p>
        <p>
        Feel free to connect with me and share your thoughts or questions about Python and programming. Let’s learn and grow together!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
